*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

:root {
    --hue-neutral: 200;
    --hue-incorrect:0;
    --hue-correct:145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue: var(--hue-correct);
}

body.incorrect {
    --hue: var(--hue-incorrect);
}

.header{
    padding: 40px;
    text-align: left;
    background: white;
    color: black;
    font-size: 25px;
}


.link {
    text-decoration: none;
    text-align: right;
    padding: 15px;
    color: black;
}

.link:hover {
    color:blue;
}

.pagetitle {
    text-align: center;
    color: white;
    font-size:30px;
}

.subheading {
    text-align: center;
    color: white;
}

.container {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin: auto;
    width: 80%;
    margin-top : 70px;
    text-align: center;
}

.phonemes {
    display:grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    margin: 20px 0;
}

.phonemes-btn {
    width: 30px;
}

.btn-grid {
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 80%);
    border: 2px solid hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    display: inline;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
}

.btn.incorrect {
    --hue: var(--hue-incorrect);
}

.start-btn, .next-btn {
    font-size: 25px;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

#question {
    font-size: 30px;
}

#endofgame {
    z-index: 2;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-size: 50px;
    text-align: center;
}
